@font-face {
  font-family: Gramatika;
  src: url(fonts/GramatikaRegular.woff); }

@font-face {
  font-family: Gramatika_Italic;
  src: url(fonts/GramatikaSlanted.woff); }

@font-face {
  font-family: Gramatika_Bold;
  src: url(fonts/GramatikaBold.woff); }

@font-face {
  font-family: Gramatika_Bold_Italic;
  src: url(fonts/GramatikaBoldSlanted.woff); }

* {
  margin: 0;
  padding: 0; }

body {
  font: 100% "Gramatika", sans-serif;
  background-color: #f6f6f6;
  color: blue; }
  body .page {
    width: 100vw; }
    body .page .project {
      width: 100vw;
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
      transform: scale(1.5) skewX(10deg); }

.project .slider {
  flex-shrink: 0;
  flex-grow: 1;
  width: auto;
  height: 50vh; }
  .project .slider .el {
    margin: 10px;
    display: inline-block;
    width: 40vw;
    height: 100%;
    background-color: lightgrey; }

.project .text-project {
  margin: 10px;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: yellow;
  width: 100vw; }
